.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
node_modules/**/*.md
node_modules/**/LICENSE
node_modules/**/*.html
node_modules/**/*.yml
node_modules/**/test/**
